@model IPagedList<GenreListVm>
@using X.PagedList
@using X.Web.PagedList;
@{
	ViewData["Tittle"] = "Genres List";
}

<div class="row w-50 mb-4">
	<div class="col-6">
		<h3>Genres List</h3>
	</div>
	<div class="col-6 text-end">
		<a asp-controller="Genres" asp-action="UpSert" class="btn btn-primary">
			<i class="bi bi-plus-circle"></i> New
		</a>
	</div>
</div>

<table class="table table-bordered table-hover w-50">
	<thead>
		<tr>
			<th>Genre Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Any())
		{
			@foreach (var item in Model)
			{
				<tr id="@item.GenreId">
					<td>@item.GenreName</td>
					<td>
						<a onclick="Delete('/Genres/Delete/@item.GenreId',@item.GenreId,'@item.GenreName')" class="btn btn-danger">
							<i class="bi bi-trash-fill"></i>Delete
						</a>
						<a asp-controller="Genres" asp-action="UpSert" asp-route-id="@item.GenreId" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
					</td>
				</tr>
			}

		}
		else
		{
			<tr>
				<td colspan="2">No items added yet</td>
			</tr>
		}


	</tbody>
</table>
<div>
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
	UlElementClasses = new[] { "pagination" },
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
	DisplayLinkToIndividualPages = true,
	DisplayPageCountAndCurrentLocation = false,
	MaximumPageNumbersToDisplay = 10
})
</div>
@section Scripts {
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script type="text/javascript">
		function Delete(url, id) {
			Swal.fire({
				title: "Are you sure?",
				text: "You won't be able to revert this!",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Yes, delete it!"
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: url,
						type: 'DELETE',
						headers: {
							'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
						},

						success: function (data) {
							if (data.success) {
								var row = document.getElementById(id);
								row.remove();
								toastr.success(data.message)
							}
							else {
								toastr.error(data.message)
							}
						}
					})
				}
			});
		}

	</script>
}

