@model GenreDetailsVm
@using X.PagedList
@using X.PagedList.Mvc.Core
<div>
    <h4>Genre's Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="GenreName"></label>
        </dt>
        <dd class="col-sm-4">
            <input asp-for="GenreName" class="form-control form-control-sm" readonly />
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ShoesQuantity"></label>
        </dt>
        <dd class="col-sm-4">
            <input asp-for="ShoesQuantity" class="form-control form-control-sm" readonly />
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning btn-sm" asp-controller="Genres" asp-action="UpSert" asp-route-id="@Model.GenreId">
        <i class="bi bi-pencil-square"></i>&nbsp;
        Edit
    </a>
    <a asp-action="Index" class="btn btn-success btn-sm">
        <i class="bi bi-backspace"></i>&nbsp;
        Back to List
    </a>
</div>
<table class="table table-bordered table-hover mt-3">
    <thead>
        <tr>
            <th style="width:15%">Model</th>
            <th style="width:20%">Description</th>
            <th style="width:10%">Price</th>
            <th style="width:10%">Genre</th>
            <th style="width:10%">Color</th>
            <th style="width:10%">Sport</th>
            <th style="width:10%">Brand</th>

            <th style="width:15%">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Shoes!.Any())
        {
            foreach (var item in Model.Shoes!)
            {
                <tr id="@item.ShoeId">
                    <td>
                        @item.Model

                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td style="text-align:right">
                        @item.Price.ToString("C2")
                    </td>
                    <td>
                        @item.Genre
                    </td>
                    <td>
                        @item.ColorN
                    </td>
                    <td>
                        @item.Sport
                    </td>
                    <td>
                        @item.Brand
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Shoes" asp-action="UpSert" asp-route-id="@item.ShoeId">
                            <i class="bi bi-pencil-square"></i>&nbsp;
                            Edit
                        </a>
                        <a onclick="Delete('/Products/Delete/@item.ShoeId',@item.ShoeId,'@item.Model')" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">
                    No shoes have been added yet.
                </td>
            </tr>

        }
    </tbody>
</table>@* 
<div class="d-flex">
    @Html.PagedListPager(Model.Shoes, page => Url.Action("Details",
    new { page ,
    }), new PagedListRenderOptions
{
    UlElementClasses = new[] { "pagination" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    MaximumPageNumbersToDisplay = 10
})
</div> *@
