@model ShoeEditVm
@{
    ViewData["Title"] = "New/Edit City";
}


<form method="post" asp-action="UpSert" class="w-100">

    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="@Model.ShoeId" />

    <div class="border p-3 bg-white">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">@(Model.ShoeId == 0 ? "Add Shoe" : "Edit Shoe")</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <label asp-for="Model"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group row py-2">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group row py-2">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" type="number" step="0.05" min="0.05" max="100000" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-3 py-2">
                        <label asp-for="BrandId"></label>
                        <select asp-for="BrandId" asp-items=@Model.Brands class="form-control">
                            <option disabled selected>Select Brand</option>
                        </select>
                        <span asp-validation-for="BrandId" class="text-danger"></span>

                    </div>
                    <div class="form-group col-3 py-2">
                        <label asp-for="ColorId"></label>
                        <select asp-for="ColorId" asp-items=@Model.Colors class="form-control">
                            <option disabled selected>Select color</option>
                        </select>
                        <span asp-validation-for="ColorId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3 py-2">
                        <label asp-for="SportId"></label>
                        <select asp-for="SportId" asp-items=@Model.Sports class="form-control">
                            <option disabled selected>Select sport</option>
                        </select>
                        <span asp-validation-for="SportId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3 py-2">
                        <label asp-for="GenreId"></label>
                        <select asp-for="GenreId" asp-items=@Model.Genres class="form-control">
                            <option disabled selected>Select genre</option>
                        </select>
                        <span asp-validation-for="GenreId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <img src="@Model.ImageUrl" style="width:300px;height:300px; border:1px solid" />
            </div>
        </div>
        

        @if (Model.ShoeId == 0)
        {
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-floppy2-fill"></i>
                Create
            </button>
        }
        else
        {
            <button type="submit" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
                Edit
            </button>

        }
        <a asp-action="Index" class="btn btn-success btn-block">
            <i class="bi bi-backspace"></i>
            Back to List
        </a>


    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $("#StateId").empty();
                $("#StateId").append('<option value="0">[Select State]</option>');

                // console.log('Country ID:', $("#CountryId").val());
                // debugger;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetStates", "Cities", new { area = "Admin" })',
                    dataType: 'json',
                    data: {
                        countryId: $("#CountryId").val()
                    },
                    success: function (states) {
                        console.log("States received: ", states);
                        $.each(states, function (i, state) {
                            $("#StateId").append('<option value="' + state.stateId + '">' + state.stateName + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Error trying to load the states.' + ex);
                    }
                });
                return false;
            });
        });
    </script>
}